@font-face {
  font-family: 'Authemia'; /* Nombre que usarás en CSS */
  src: url('./assets/fonts/Authemia Sans.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}
#root {
  font-family: 'Authemia';
}

body{
  background: #F6FFE6;
}

button{
  cursor: pointer;
  font-family: 'Authemia';
}

input:placeholder-shown {
  font-family: 'Authemia';
}